﻿<!DOCTYPE html>
<html lang="en" ng-app="back">
  <head>
    <meta charset="UTF-8" />
<title>后台管理系统</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="./css/font-awesome.css" rel="stylesheet" />
    
    <link href="./css/adminia.css" rel="stylesheet" /> 
    <link href="./css/adminia-responsive.css" rel="stylesheet" /> 
    
    <link href="./css/pages/dashboard.css" rel="stylesheet" />

	  <!--<link href="./css/pages/plans.css" rel="stylesheet" />-->
	  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body ng-controller="mainCtrl">
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="./">后台管理系统</a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">
					
					<li class="divider-vertical"></li>
					
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							{{user.nickname}} <b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<!--
							<li>
								<a href="./account.html"><i class="icon-user"></i> Account Setting  </a>
							</li>
							-->
							<li>
								<a href="#user"><i class="icon-lock"></i> 个人资料</a>
							</li>
							
							<li class="divider"></li>
							
							<li>
								<a href="../logout"><i class="icon-off"></i> 登出</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->


<div id="content">
	
	<div class="container">
		
		<div class="row" ng-view>
		</div> <!-- /row -->

	</div> <!-- /container -->
	
</div> <!-- /content -->
					
	
<div id="footer">
	
	<div class="container">				
		<hr />
		<p>&copy; 2012 Go Ideate.</p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->


<modal title="机构资质审核/取消">
	<!--<div class="container">-->
		<div class="row">
			<div class="col-md-2 audit-name">公司名</div>
			<div class="col-md-4">{{currentVendor.name}}</div>
			<div class="col-md-2 audit-name">logo</div>
			<div class="col-md-4">
				<img style="width:40%;" src="/thumbnail/{{currentVendor.logo}}" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 audit-name">负责人</div>
			<div class="col-md-4">{{currentVendor.uid}}</div>
			<div class="col-md-2 audit-name">电话</div>
			<div class="col-md-4">
				<div ng-if="currentVendor.mobile">{{currentVendor.mobile}}</div>
				<div ng-if="currentVendor.phone">{{currentVendor.phone}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 audit-name">地址</div>
			<div class="col-md-10">{{currentVendor.address}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 audit-name">简介</div>
			<div class="col-md-10">{{currentVendor.remark}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 audit-name">工商执照</div>
			<div class="col-md-10">
				<img src="/thumbnail/{{currentVendor.bl}}" alt="">
			</div>
		</div>
		<div class="row" ng-repeat="attr in currentVendor.extattrs">
			<div class="col-md-2 audit-name">{{attr.name}}</div>
			<div class="col-md-10">
				<img src="/thumbnail/{{attr.value}}" alt="">
			</div>
		</div>

	<form role="form" ng-submit="submit(currentVendor);">
		<div class="row">
			<input type="hidden" ng-model="currentVendor.id">
			<input type="hidden" ng-model="currentVendor.vc">
			<div class="col-md-2 audit-name">审批批注</div>
			<div class="col-md-10">
				<textarea ng-model="currentVendor.remark" id="" cols="50" rows="5"></textarea>
				<!--<input type="text" class="input-medium" id="remark" ng-model="currentVendor.remark" />-->
			</div>
		</div>
		<div class="form-actions" style="left:50%;">
			<button type="submit" class="btn btn-primary" ng-show="currentVendor.vc">审核通过</button>
			<button class="btn" ng-hide="currentVendor.vc">取消审核</button>
			<span>{{errorMsg}}</span>
		</div>
	</form>
</modal>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>
<!--<script src="./js/excanvas.min.js"></script>-->
<!--<script src="./js/jquery.flot.js"></script>-->
<!--<script src="./js/jquery.flot.pie.js"></script>-->
<!--<script src="./js/jquery.flot.orderBars.js"></script>-->
<!--<script src="./js/jquery.flot.resize.js"></script>-->


<script src="./js/bootstrap.js"></script>
<!--<script src="./js/charts/bar.js"></script>-->

<script src="./js/angular.js"></script>
<script src="./js/angular-route.js"></script>
<script src="./index.js"></script>
  </body>
</html>
