<div ui-content-for="title" class="leftBar ">
    <div class="well">
        <div class=" " style="width:120px;height:120px;">
            <img ng-src="/api/upload/images/{{info.photoId}}"
                 class="roundImg"
                 ng-show=(info.photoId!="0") />
            <button type="button"
                    ng-hide=(info.photoId!="0")
                    class="roundImg">
                <h2 class="text-center" style="font-family: '黑体';">暂无图片</h2>
            </button>
        </div>
        <label class="pull-right">{{info.extattrs.vendorName}}</label>
    </div>

    <div class=" ">
        <div class="list-group">
            <a class="list-group-item hand" ng-click="display_zlsz()"> 资料设置<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
            <a class="list-group-item hand" ng-click="display_xgmm()"> 修改密码<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
            <a class="list-group-item hand" ng-click="display_qxsz()"> 发送对象<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>
<!--资料设置-->
<div class="rightSight " ng-show="zlsz">
    <label>资料设置</label>
    <hr>
    <form name="imgForm" class=" ">
        <!--上传图片插件-->
        <div class="col-md-4 margin" style="border-right: 1px solid #A8A8A8;" >
            <div id="imgPreview" >
                <img ng-src="/api/upload/images/{{info.photoId}}"
                     style="height:180px;width:180px;"
                     ng-show=(info.photoId!=0) />
                <button type="button"
                        class="btn btn-default col-md-10"
                        name="uploadImageButton"
                        id="uploadImageButton"
                        ng-hide=(info.photoId!=0)
                        style="height:180px;width:180px;">
                    <h1 class="text-center" style="font-family: '黑体';">暂无图片</h1>
                </button>
            </div>
            <input type="file"
                   accept="image/*"
                   name="uploadImage"
                   id="uploadImage"
                   ng-model="inputImg"
                   onchange="angular.element(this).scope().uploadImg(this)"
                   style=" ">

        </div>
        <div class="margin  ">
            <label class="col-md-4"
                   style="position:relative;float:left;margin-top:3%;margin-left: 6%; ">上传的图像会自动生成图像缩略图，
                您也可以拖动大图的裁剪区域，调整缩图内容。支持
                JPG、GIF、PNG等图片格式 推荐尺寸：180*180像素</label>
            <div class=" margin col-md-offset-6  " style="width:15%;">
                <button type="button"
                        class="btn btn-primary"
                        name="uploadCancel"
                        ng-disabled=uploadBtn
                        ng-hide="true"
                        id="uploadCancel">上传</button>
                <button class="btn btn-primary "
                        name="uploadSave"
                        id="uploadSave"
                        ng-disabled=saveDisabled
                        style="position:relative;width:90%;margin-top: 30%;"
                        ng-click="saveImg()">保存</button>
                <!--<button type="button"-->
                <!--class="btn btn-default"-->
                <!--name="reuploadImageButton0"-->
                <!--id="reuploadImageButton0"-->
                <!--ng-click="uploadImg()"-->
                <!--style="margin-top: 20px;width: auto;display: none;">重新上传图片</button>-->
            </div>
        </div>
        <!--按钮-->
    </form>
    <div class=" ">
        <form role="form" class="form-horizontal">
            <div class="form-group " style="margin-top: 15%;">
                <label for="com_name"
                       class="col-md-2 col-md-offset-1 control-label ">公司名称</label>
                <div class=" col-md-4  ">
                    <input id="com_name"
                           type="text"
                           class="form-control  "
                           ng-model="info.extattrs.vendorName"
                           ng-disabled=edit
                           placeholder="请输入企业名称">
                </div>
            </div>
            <div class="form-group">
                <label for="real_name"
                       class="col-md-2 col-md-offset-1   control-label">真实姓名</label>
                <div class="col-md-4 ">
                    <input id="real_name"
                           type="text"
                           ng-model="info.extattrs.realName"
                           class="form-control"
                           ng-disabled=edit
                           placeholder="请输入真实姓名">
                </div>
            </div>
            <div class="form-group margin">
                <label for="phone"
                       class="col-md-2 col-md-offset-1 control-label">手机号</label>
                <div class="col-md-4  ">
                    <input id="phone"
                           type="text"
                           class="form-control"
                           ng-model="info.phone"
                           ng-disabled=edit
                           placeholder="请输入手机号">
                </div>

            </div>
            <div class="form-group margin">
                <label for="weixin"
                       class="col-md-2 col-md-offset-1   control-label">微信号</label>
                <div class="col-md-4  ">
                    <input id="weixin"
                           type="text"
                           ng-model="info.weixin"
                           class="form-control"
                           ng-disabled=edit
                           placeholder="请输入微信号">
                </div>
            </div>
            <div class="form-group margin ">
                <label for="address"
                       class="col-md-2 col-md-offset-1   control-label">通信地址</label>
                <div class="col-md-4  ">
                    <input id="address"
                           type="text"
                           ng-model="info.extattrs.address"
                           class="form-control"
                           ng-disabled=edit
                           placeholder="请输入通信地址">
                </div>
            </div>
            <button type="button"
                    class="btn btn-primary col-md-2 col-md-offset-4 margin-bottom "
                    ng-show=edit
                    ng-click="startEdit(info)">编辑</button>
            <button type="button"
                    class="btn btn-primary col-md-2 col-md-offset-4 margin-bottom"
                    ng-hide=edit
                    ng-click="submitChange(info)">确定修改</button>

        </form>
    </div>

</div>
<!--修改密码-->
<div class="rightSight col-md-offset-3" ng-show="xgmm">
    <label>修改密码</label>
    <hr>
    <form role="form" name="accountForm" class="form-horizontal">
        <div class="margin form-group" style="width:60%; height:40px;margin-top:8%;">
            <label class="col-md-3 control-label  ">旧密码</label>
            <div class="col-md-6  ">
                <input type="password"
                       class="form-control"
                       name="old"
                       ng-model="change.password"
                       placeholder="请输入旧密码">
            </div>

        </div>
        <div class="margin form-group  " style="width:60%;height:40px; ">
            <label class="col-md-3 control-label ">新密码</label>
            <div class="col-md-6  ">
                <input type="password"
                       class="form-control"
                       name="new"
                       ng-model="change.newPassword"
                       placeholder="请输入新密码,限6～20字符">
            </div>

        </div>
        <div  class="margin form-group  " style="width:60%; height:40px;">
            <label class="col-md-3 control-label ">确认新密码</label>
            <div class="col-md-6">
                <input type="password"
                        class="form-control"
                       name="new2"
                       ng-model="change.newPassword2"
                       placeholder="限6～20字符">
            </div>

        </div>
        <!--<div class="margin form-group" style="width:60%;margin-left: 5%;">-->
            <!--<label class="col-md-4 control-label col-md-offset-1">验证码</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="number"-->
                       <!--id="yan"-->
                       <!--class="form-control"-->
                       <!--ng-model="change.yan"-->
                       <!--placeholder="验证码">-->
            <!--</div>-->

        <!--</div>-->

        <button type="button"
                class="btn btn-primary col-md-1 col-md-offset-3"
                ng-disabled="(!accountForm.old.$dirty) || (!accountForm.new.$dirty) || (!accountForm.new2.$dirty)
                || (change.newPassword!=change.newPassword2)"
                ng-click="changePwd(change)">确定</button>
    </form>

</div>
<!--发送对象-->
<div class="rightSight col-md-offset-3" ng-show="qxsz">
    <label>发送对象</label>
    <hr>
    <div class="">
        <label>标签：</label>
        <div class="margin">
            <label>1.我的自定义:{{mySelf}}</label>
        </div>
        <div style="">
            <label style="float:left;">2.</label>
            <img class="img-responsive hand account_plus" src="./images/img/u68.png" ng-click="showObject()"/>
        </div>
        <div class="bordered2 col-md-4" ng-show="show">
            <label ng-show="targetEmpty">暂无发布目标,请联系管理员!</label>
            <div style="margin-left: 5%;cursor:pointer;"
                 ng-hide="targetEmpty"
                 class="">
                <span  class='option' ng-class="{'selected':x.selected}"
                       ng-repeat="x in target"
                       style="cursor:pointer;"
                       ng-click="clickStatus(x)">
                    {{x.name}}
                </span>
            </div>
            <button style="margin-top:3%;margin-left: 3%;margin-bottom: 3%"
                    ng-click="submitChecked()">确定</button>
        </div>
    </div>

</div>